#date-container {
    position: static;
    background-color: hsl(240, 18%, 48%);
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--e1);
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
}

#date-row {
    color: #e6f5f1;
    font-style: italic;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    gap: 10px;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}

#date-name {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.2rem;
    flex: 4;
    font-weight: bold;
    color: var(--c4);
}

#date-entry-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 6;
    align-items: center;
}

.date-entry {
    font-size: 1rem;
    flex: 1;
    text-align: center;
    height: 100%;
    color: var(--c4);
    border-left: 1px solid var(--e1);
    padding: 5px 20px;
}

#date-navigation-buttons-container {
    position: static;
    background-color: hsl(240, 18%, 48%);
    align-self: end;
    padding: 10px 15px;
    border: 2px solid var(--e1);
    border-radius: 10px;
}

#left-arrow,
#right-arrow {
    padding: 5px;
    padding-bottom: 1px;
}

#left-arrow img,
#right-arrow img {
    width: 20px;
    height: 20px;
}
