.radio-group {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.save {
    font-size: 1.2rem;
    background-color: rgba(158, 239, 187, 0.615);
    border: 1px solid var(--e1);
    padding: 5px;
    width: 40%;
    border-radius: 10px;
}
.cancel {
    font-size: 1.2rem;
    background-color: rgba(225, 159, 141, 0.716);
    border: 1px solid var(--e1);
    padding: 5px;
    width: 40%;
    border-radius: 10px;
}

.save:hover {
    background-color: rgba(153, 231, 181, 0.615);
    box-shadow: 0 0 15px rgba(40, 61, 46, 0.5);
    transition-duration: 300ms;
}

.cancel:hover {
    background-color: rgba(227, 162, 144, 0.716);
    box-shadow: 0 0 15px rgba(61, 49, 40, 0.5);
    transition-duration: 300ms;
}
